---
pagination:
  data: ministeriosData
  size: 1
  addAllPagesToCollections: true
  alias: ministerio
permalink: "/{{ministerio.nombreDeInstitucion | slug }}/autoridades/index.html"
---
{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}{% endblock %}

{% block content %}
  <style>
    #map-container {
      width: 100%;
      height: 200px;
    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col-12 py-2">
        <a href="/ministerios/1">Ministerios</a>
        \
        {{ ministerio.nombreDeInstitucion }}
      </div>
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <a href="/{{ ministerio.nombreDeInstitucion | slug }}/index.html" class="col-12 col-md-3 m-0 p-2 text-left text-md-center font-weight-bold border-right">
            Ministerio
          </a>
          <a href="/{{ ministerio.nombreDeInstitucion | slug }}/autoridades/index.html" class="col-12 col-md-3 m-0 p-2 text-left text-md-center bg-primary text-white font-weight-bold border-right">
            Autoridades
          </a>
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Autoridades
            </h4>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 p-3 border">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Puesto</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for autoridad in ministerio.autoridades %}
                        <tr>
                          <td>
                            <a href="/{{ autoridad.idPerfil + '-' + autoridad.nombre | slug }}">
                              {{autoridad.nombre}}
                            </a>
                          </td>
                          <td>
                            {{autoridad.puesto}}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <small>Fuente: {{ministerio.autoridades[0].fuenteTexto}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}