{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
  <link rel="stylesheet" href="/assets/css/retainable.css">
{% endblock %}

{% block content %}
  {# main #}
  <div class="w-100">
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-2">
            Conoce a las autoridades del Gobierno de Guatemala
          </h2>
      </div>
    </div>
  </div>
  <div class="bg-white w-100">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 d-flex mb-2">
          <h1>
            Ministros
          </h1>
          <div class="ml-auto">
            <a href="ministros/1/index.html" class="btn btn-secondary text-white">
              Ver más
            </a>
          </div>
        </div>
        {% set ministros = collections.ministros | slice(collections.ministros.length / 4) %}
        {% set ministros = ministros[0] %}
        <div class="row row-eq-height">
          {%- for ministro in ministros %}
            {% set ministroData = ministro.data.ministro %}
            <div class="col-12 col-lg-3 py-1">
              <div class="w-100 h-100 border row m-0 p-0">
                <img class="w-100 img-fluid" src="/assets/img/map-placeholder.png" alt="Map placeholder">
                <div class="w-100 pt-3 px-3 pb-0 col-12 m-0">
                  <p>
                    {{ ministroData.nombre | title }}, <br>
                    <small>{{ ministroData.puesto | title}}</small>
                  </p>
                </div>
                <a href="{{ministro.url}}" class="btn btn-primary text-white mt-auto mx-3 mb-3">Ver más</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white w-100">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 d-flex mb-2">
          <h1>
            Ministerios
          </h1>
          <div class="ml-auto">
            <a href="ministerios/1/index.html" class="btn btn-secondary text-white">
              Ver más
            </a>
          </div>
        </div>
        {% set ministerios = collections.ministerios | slice(collections.ministerios.length / 4) %}
        {% set ministerios = ministerios[0] %}
        <div class="row row-eq-height">
          {%- for ministerio in ministerios %}
          {% set ministerioData = ministerio.data.ministerio %}
          <div class="col-12 col-lg-3 py-1">
            <div class="w-100 h-100 border row m-0 p-0">
              {% set fotoUrl = ministerioData.fotoUrl %}
              <img
                class="w-100 img-fluid"
                src="{{ fotoUrl if fotoUrl else '/assets/img/map-placeholder.png' }}"
                alt="Map placeholder"
                onerror="this.onerror=null;this.src='/assets/img/map-placeholder.png';">
              <div class="w-100 pt-3 px-3 pb-0 col-12 m-0">
                <p>
                  {{ ministerioData.nombreDeInstitucion }}
                </p>
              </div>
              <a href="{{ministerio.url}}" class="btn btn-primary text-white mt-auto mx-3 mb-3">Ver más</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_javascripts %}
    <script src="/assets/js/retainable.js"></script>
    <!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
    <script>
      (function(window, document) {
      "use strict";

      const search = e => {
        const results = window.searchIndex.search(e.target.value);

        const ol = document.getElementById("searchResults");
        const searchResultsContainer = document.getElementById("searchResultsContainer");
        ol.innerHTML = "";
        searchResultsContainer.style.position = 'none';
        if (results && results.length > 0) {
          searchResultsContainer.style.position = 'absolute';
          results.map(r => {
            const { id, departamento, ministro } = r.doc;

            // this is where you'll go wild with your own HTML injection.
            const li = document.createElement("li");
            ol.appendChild(li);

            const a = document.createElement("a");
            a.setAttribute("href", id);
            a.textContent = `${departamento}, ${ministro}`;
            li.appendChild(a);
          });
        }
      };

      fetch("/search-index.json").then(response =>
        response.json().then(rawIndex => {
          window.searchIndex = elasticlunr.Index.load(rawIndex);
          document.getElementById("searchField").addEventListener("input", search);
        })
      );
    })(window, document);
    </script>
{% endblock %}